.st-portfolio {
    &--header {
        height: auto;
        padding: 12px;
        display: flex;
        border-radius: 8px;
        position: sticky;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-primary);
        z-index: 1000;
    }
    &--logo {
        color: var(--text-white);
        font-size: 20px;
        font-weight: 600;
        &:hover {
            color: var(--text-white-hover);
        }
    }

    &--menu {
        display: flex;
        gap: 12px;

        a {
            text-decoration: none;

            p {
                margin: 0; // instead of padding 0, use margin
                color: var(--text-white);
                font-weight: 600;
                &:hover {
                    color: var(--text-white-hover);
                    transition: color 1s ease-in-out;
                }
            }
        }
    }
}
