.st-portfolio {
    &--layout {
        width: 100%;
        min-width: 1024px;
        height: 100vh;
        display: flex;
        background: linear-gradient(135deg, var(--color-primary) 0%, var(--color-secondary) 100%);
    }
}

@media (max-width: 768px) {
    .st-portfolio {
        &--layout {
            max-width: 750px;
            padding: 0 32px;
        }
    }
}

@media (max-width: 475px) {
    .st-portfolio {
        &--layout {
            width: 100%;
            max-width: 100%;
            margin: 0 auto;
            padding: 0 16px;
        }
    }
}
