.st-portfolio {
    &--header {
        height: auto;
        padding: 12px;
        margin: 16px;
        display: flex;
        border-radius: 8px;
        position: sticky;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-secondary);
        z-index: 1000;
        flex-direction: column;
        width: 250px;
        box-shadow:
            rgba(0, 0, 0, 0.3) 0px 19px 38px,
            rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
    &--logo {
        color: var(--text-white);
        font-size: 16px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:hover {
            color: var(--text-white-hover);
        }
        img {
            border-radius: 50%;
            border: 5px solid #fafafa;
        }
        h1, p{
            margin: 0;
            text-align: center;
        }
    }

    &--menu {
        display: flex;
        gap: 12px;

        a {
            text-decoration: none;

            p {
                margin: 0; // instead of padding 0, use margin
                color: var(--text-white);
                font-weight: 600;
                &:hover {
                    color: var(--text-white-hover);
                    transition: color 1s ease-in-out;
                }
            }
        }
    }
}
