.st-portfolio {
    &--right-content {
        height: auto;
        min-height: 120px;
        width: 80%;
        margin: 16px;
        background: linear-gradient(135deg, #0d1117, #00dc82, #38bdf8);
        border-radius: 8px;
    }
}
