.st-portfolio {
    &--right-content {
        height: auto;
        min-height: 120px;
        width: 80%;
        margin: 16px;
        overflow: auto;
        border-radius: 8px;
        background: linear-gradient(135deg, #0F766E, #10B981, #BBF7D0);
    }
}
