.st-portfolio {
    &--about {
        padding: 16px;

        h2,
        &__paragraph {
            opacity: 0;
            transform: translateY(20px);
            animation: slideUp 0.6s ease forwards;
            color: var(--text-white);
        }

        h2 {
            animation-delay: 0.1s;
            letter-spacing: 5px;
        }

        &__paragraph {
            animation-delay: 0.3s;
            font-size: 16px;
            font-weight: 600;
        }
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
