.st-form-wrapper {
    display: flex;
    flex-direction: column;
    width: 550px;
    justify-content: center;
    align-items: center;
}
.st-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
