.st-portfolio {
    &--home {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        width: 100%;
        margin: 12px;
        background: linear-gradient(135deg, var(--color-primary) 0%, var(--color-secondary) 100%);
        &__content {
            overflow: hidden;
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    animation: scroll 4s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-2.5rem);
    }
    50% {
        transform: translateY(-5rem);
    }
    75% {
        transform: translateY(-7.5rem);
    }
    100% {
        transform: translateY(0);
    }
}
