.project-menu {
    display: flex;
    list-style: none;
}

.project-menu li {
    cursor: pointer;
    padding: 6px 12px;
    color: #aaa;
    transition: 0.2s;
}

.project-menu li.active-tab {
    color: #fff;
    background: #4a4a4a;
    border-radius: 6px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
}

.project-card {
    height: 150px;
    width: 300px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    h3 , p{
        margin: 0;
        color: #fff;
    }
}
