.st-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border-radius: 0.375rem; // ~6px
    padding: 0.5rem 1rem; // 8px 16px
    cursor: pointer;
    transition: all 0.2s ease;
    border: none;
    text-transform: capitalize;

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
    // Variants
    &--primary {
        @extend .st-btn;
        background-color: var(--color-primary); // blue-500
        color: var(--text-white);
        &:hover {
            background-color: var(--color-primary-hover); // blue-600
        }
    }

    &--secondary {
        @extend .st-btn;
        background-color: var(--st-color-secondary); // gray-200
        color: var(--st-color-text);

        &:hover {
            background-color: var(--st-color-secondary-hover);
        }
    }

    &--danger {
        @extend .st-btn;
        background-color: var(--st-color-danger); // red-500
        color: var(--st-color-text);

        &:hover {
            background-color: var(--st-color-danger-hover); // red-600
        }
    }
    &--transparent {
        @extend .st-btn;
        background-color: transparent;
        color: var(--st-color-text);

        &:hover {
            background-color: var(--st-color-secondary-hover); // gray-300
        }
    }
    // Sizes
    &--sm {
        padding: 0.25rem 0.5rem; // 4px 8px
        font-size: 0.875rem; // text-sm
    }

    &--lg {
        padding: 0.75rem 1.5rem; // 12px 24px
        font-size: 1.125rem; // text-lg
    }
    &--md {
        padding: 0.5rem 1rem; // 8px 16px
        font-size: 1rem; // text-md
    }
    &--border-none {
        border: none;
    }
    &--border {
        border: 1px solid var(--st-border-color);
    }
    &--icon {
        margin-left: 0.5rem; // 8px
        display: inline-flex;
        align-items: center;
    }
}
