@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vdck4m');
  src:  url('fonts/icomoon.eot?vdck4m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vdck4m') format('truetype'),
    url('fonts/icomoon.woff?vdck4m') format('woff'),
    url('fonts/icomoon.svg?vdck4m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="st-icon--"], [class*=" st-icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.st-icon--linkedin:before {
  content: "\e900";
  color: #007ebb;
}
.st-icon--facebook:before {
  content: "\e901";
}
.st-icon--wordpress:before {
  content: "\e902";
  color: #21759b;
}
.st-icon--vs-code:before {
  content: "\e916";
}
.st-icon--react:before {
  content: "\e923";
  color: #00d8ff;
}
.st-icon--menu:before {
  content: "\e906";
}
.st-icon--redux:before {
  content: "\e90b";
  color: #764abc;
}
.st-icon--vs-code1:before {
  content: "\e90c";
  color: #3079d9;
}
.st-icon--javascript:before {
  content: "\e90a";
  color: #dbd400;
}
.st-icon--github:before {
  content: "\e903";
}
.st-icon--git:before {
  content: "\e904";
  color: #ee513b;
}
.st-icon--mongodb:before {
  content: "\e905";
  color: #41d25e;
}
.st-icon--node:before {
  content: "\e907";
  color: #8cc84b;
}
.st-icon--css:before {
  content: "\e908";
  color: #004ecc;
}
.st-icon--html:before {
  content: "\e909";
  color: #ff4314;
}
