@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6m7fw9');
  src:  url('fonts/icomoon.eot?6m7fw9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6m7fw9') format('truetype'),
    url('fonts/icomoon.woff?6m7fw9') format('woff'),
    url('fonts/icomoon.svg?6m7fw9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="st-icon--"], [class*=" st-icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.st-icon--linkedin:before {
  content: "\e900";
  color: #007ebb;
}
.st-icon--facebook:before {
  content: "\e901";
}
.st-icon--wordpress:before {
  content: "\e902";
  color: #21759b;
}
.st-icon--mongodb .path1:before {
  content: "\e903";
  color: rgb(142, 113, 78);
}
.st-icon--mongodb .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(68, 45, 34);
}
.st-icon--mongodb .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.st-icon--mongodb .path4:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(166, 163, 133);
}
.st-icon--mongodb .path5:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.st-icon--mongodb .path6:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(73, 157, 74);
}
.st-icon--mongodb .path7:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.st-icon--mongodb .path8:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(88, 170, 80);
}
.st-icon--github:before {
  content: "\e90c";
}
.st-icon--git .path1:before {
  content: "\e90d";
  color: rgb(238, 81, 59);
}
.st-icon--git .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.st-icon--nodejs .path1:before {
  content: "\e90f";
  color: rgb(255, 255, 255);
}
.st-icon--nodejs .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(104, 159, 99);
}
.st-icon--nodejs .path3:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.st-icon--nodejs .path4:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(104, 159, 99);
}
.st-icon--nodejs .path5:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.st-icon--nodejs .path6:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.st-icon--nodejs .path7:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.st-icon--vs-code:before {
  content: "\e916";
}
.st-icon--javascript .path1:before {
  content: "\e917";
  color: rgb(247, 223, 30);
}
.st-icon--javascript .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.st-icon--css .path1:before {
  content: "\e919";
  color: rgb(21, 114, 182);
}
.st-icon--css .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(51, 169, 220);
}
.st-icon--css .path3:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.st-icon--css .path4:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(235, 235, 235);
}
.st-icon--css .path5:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.st-icon--css .path6:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(235, 235, 235);
}
.st-icon--css .path7:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(235, 235, 235);
}
.st-icon--html .path1:before {
  content: "\e920";
  color: rgb(228, 77, 38);
}
.st-icon--html .path2:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(241, 101, 41);
}
.st-icon--html .path3:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.st-icon--react:before {
  content: "\e923";
  color: #00d8ff;
}
.st-icon--menu:before {
  content: "\e906";
}
