/* Primary Colors */
$color-primary: #4f46e5;
$color-primary-hover: #6366f1;

/* Secondary / Accent Colors */
$color-secondary: #10b981;
$color-secondary-hover: #34d399;

/* Neutral Colors */
$color-neutral-light: #f3f4f6;
$color-neutral-light-hover: #e5e7eb;

$color-neutral-dark: #111827;
$color-neutral-dark-hover: #1f2937;

/* Background Colors */
$color-bg-light: #ffffff;
$color-bg-light-hover: #f9fafb;

/* Text Colors */
$color-text-primary: #1f2937;
$color-text-primary-hover: #111827;

$color-text-secondary: #6b7280;
$color-text-secondary-hover: #4b5563;

$text-white: #fff;
$text-white-hover: #f1f1f1
